body 
{
    background-color: #899bf5;
    background-image: url('Images/back.jpg');
    background-size: 100% 140%;
}
h1
{
color:white;
text-align: center;
font-size:250%;
font-family: Optima;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
h2
{
    color: white;
    font-size: 150%;
    font-family: Optima;
}

h3
{
    color: white;
    font-size: 100%;
    font-family: Optima;
}
h4
{
        color: #232323;
    font-size: 100%;
    font-family: Optima;
}


.win-head
{
    padding: 1px 8px;
    background-color: #161656;
    color: white;
}

.win-body
{
    padding: 1px 8px;
}

.win-end
{
    padding: 1px 8px;
    background-color: #161656;
    color: white;
}

.win
{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding:0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}